* {
    /*border:blueviolet 1px dotted;*/
    margin-top: 1;
    padding: 0px;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:#8a9f02;
    padding: 0px 50px;
    align-items: center;
    box-sizing: border-box;
    font-weight: bold;/*">Este es un texto en negrita*/
    top: 0;
    position: sticky;/*Para dejar una caja estatica*/
      
}

.header_link_container{
    width: 60%;
}

.header__links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: larger; /*Para dar tamaño a la letra*/
    }

.header__image img {
    width: 100px;
}

li{
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(211, 225, 213);
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50%;
}

.card {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 20px;
    background-color: antiquewhite;
    
    
}
    

.card__img img {
    width: 400px;
    display: flex;
    order: 0;
    margin: 50px;
    
}

.parrafo1{
    order: 1;
}

.card__info {
   /* padding: 0 7;*/
   justify-content: center;
   order: 1;
   margin: 50px;
}

.position--right {
    order: 2;
}

h2 {
    text-align: center;
    font-weight: bold;
}


.formulario {
    display: flex;
    justify-content: center;
    gap: 100px;
    background-color: #af8042;
    margin: 10;
}

form {
    width: 370px;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 24px;
    padding: 21px;
    flex-direction: column;
         
}



button {
    border: none;
    background: #0a7e36;
    color: black;
    padding: 15px;
    border-radius: 10px;
    font-weight: 700;
    font-family:"Poppins",sans-serif ;
       
}

button:hover{
    background: burlywood;
    color:#0a7e36;
    
}

input:focus{
    border: #8a9f02;

}




