* {
    /*border:blueviolet 1px dotted;*/
    margin-top: 1;
    padding: 0px;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:#8a9f02;
    padding: 0px 50px;
    align-items: center;
    box-sizing: border-box;
    font-weight: bold;/*">Este es un texto en negrita*/
    top: 0;
    position: sticky;/*Para dejar una caja estatica*/
      
}

.header_link_container{
    width: 60%;
}

.header__links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: larger; /*Para dar tamaño a la letra*/
    }

.header__image img {
    width: 100px;
}

li{
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(211, 225, 213);
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50%;
}

.card {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 20px;
    background-color: antiquewhite;
    
    
}
    

.card__img img {
    width: 350px;
    display: flex;
    order: 0;
    margin: 50px;
    
}

.parrafo1{
    order: 1;
}

.card__info {
   /* padding: 0 7;*/
   justify-content: center;
   order: 1;
   margin: 50px;
}

.position--right {
    order: 2;
}

h2 {
    text-align: center;
    font-weight: bold;
}

h4 {
    text-align: center;
    font-weight: bold;
    background-color: #0a7e36; 
    padding: 15px; 
}


.formulario {
    display: flex;
    background-color: #8a9f02;
    margin: 20px;
    width: 387px;
    justify-content: center;
    margin-left: 510px;
    

}

form {

    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 14px;
    padding: 25px;
    flex-direction: column;
         
}



button {
    border: none;
    background: #0a7e36;
    color: black;
    padding: 15px;
    border-radius: 10px;
    font-weight: 700;
    font-family:"Poppins",sans-serif ;
       
}

button:hover{
    background: rgb(22, 51, 156);
    color:#e6eee9;
    
}

input:focus{
    border: #a81616;

}


h5 {
    text-align: center;
    font-weight: bold;
    background-color: #0a7e36; 
    padding: 15px; 
}

.pie_pagina{
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 128px;
    padding: 15px;
    margin: 2px;
    flex-direction: row;
    background-color: antiquewhite;
}

.list1{
    display: flex;
    flex-direction: column;
    margin-left: -1092px;
    position: absolute;
    align-items: flex-start;
    padding: 19px;
}

.img5{
        width: 350px;
        display: flex;
        margin: 50px;
}

.redes{
    padding: 0px;
    display: flex;
     margin: 5px;
    flex-direction: column;
    position: absolute;
}



